
/*font face declarations*/
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: ubuntu;
    src: url(../fonts/Ubuntu/Ubuntu-Medium.ttf);
    font-weight: medium;
}
/*end of font face declarations*/
/*svg declarations*/
.Msvg {fill:#6d6d6d;width:20px;height:20px;margin-right:8px;transition-duration:.5s;color: transparent;}

svg#ctc {
  fill: #ffffff;
  margin-left: 8px;
  width:20px;
  height: 20px;
}

body, html {
height: 100%;
margin: 0;
}

#mainheading {
  font-family: ubuntu;
  color:#ffffff;

}

svg#p2w {
  fill:#6ceb76;
}
button#win {
  text-align: center;
  font-family: ubuntu;
}
body{overflow: hidden;}
.textcontent {
  position: relative;
  padding-top:1%;
  width: 100%;
  height: 20%;
  background-color: #1c1e2c;
}
h1#abtitle {
    font-family: ubuntu;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
}

h1:hover {
    cursor: default;
}

.bg {
  background-image: url(../images/mtgroom.png);
  background-color: #1c1e2c;
  width: 100%;
  height: 90%;
  display: inline-block;
}


div#maincontainer {
  background-color: #2c3152;
  display: inline-block;
  height: 100%;
  width: 100%;
}


p {
  font-family: ubuntu;
  font-weight: normal;
  background: none;
  color: #ffffff;
}

/*menu things*/
.menu {
  position: sticky;
  width: 100%;
  height: 10%;
  justify-items: center;
  justify-content: center;
  background-color: #222436;
  display: flex;
  list-style-type: disc;
  margin-block-start: 0em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

a#shop span{
  color: #b8b8b8;
}
.Msvg#shop {
  fill: #d35013;
}

#shoptabs {
  color:#2c3152;
  position: relative;
}
.menubtn {
  text-align: center;
  padding: 20px;
  border-radius: 100px;
  position: relative;
  /*top: 50%;*/
  margin: 1%;
  transition-duration: .5s;
  display: flex;
  align-items: center;
}
.menubtn span {
  font-family: ubuntu;
  font-weight: bold;
  color:#6d6d6d;
  transition-duration: .25s;
}
a{text-decoration: inherit;}

.menubtn:hover {
  background-color: #393c58;
  cursor:pointer;
}
.menubtn:hover span {
  color:#9b9b9b;
}

.menubtn:hover .Msvg {
  fill:#9b9b9b;
}

.menubtn:hover .Msvg#discord {
  fill:#406da2;
}

/*filters and special fx*/
.blur {
  filter: blur(5px);
}
/*end of filters and special fx*/